<!DOCTYPE html>
<html>

<include file="public/head"/>

<body>

<div class="container-fluid">

    <div class="row">

        <include file="public/top"/>

    </div>

    <div class="row">
        <div class="col-md-2" style="background-color: #2d70ba">
            <include file="public/left"/>
        </div>
        <div class="col-md-10">
            
        </div>
    </div>

</div>

<script>
        $(document).ready(function(){

        $("#menu1").addClass("active");

        });
</script>

</body>
</html>