<!DOCTYPE html>
<html>

<include file="public/head"/>

<title>实时监测</title>

<body>

<style>
    #taskassign {
        border: 1px solid #A3A3A3;
        float: left;
        width: 100%;
        margin-top: 10px;
        padding: 10px;
    }
        #taskassign table {
            margin-left: 20px;
            text-align: center;
            /*width: 450px;*/
            float: left;
            /*width:40%;*/
        }
        
        
         #taskassign table tr {
            background: #EAEAEA;
            min-width: 400px;
        }
            #taskassign table tr td {
                border: 1px solid #A3A3A3;
            }

            #taskassign table tr table {
                text-align: center;
                
            }

                #taskassign table tr table td {
                    border: 1px solid #ccc;
                }
    #data_table {
        font-size: 12px;
    }
    #data_table2 {
        font-size: 12px;
    }

</style>

<div class="container-fluid">

    <div class="row">

        <include file="public/top"/>

    </div>

    <div class="row">
        <div class="col-md-2" style="background-color: #2d70ba;">
            <include file="public/left"/>
        </div>
        <div class="col-md-10" style="float: left;" id="main_taskassign">
            <div id="taskassign">
                <table style="float: left;" class="col-md-4">
                    <tr><td>当前压缩任务总数：</td><td>{$zvrlisttaskcount}</td></tr>
                    <tr><td>ZRV压缩设备总数：</td><td>{$zvrlistcount}</td></tr>
                    <volist name="zvrlist" id="vo2">
                        <tr><td>{$vo2.deviceip}</td><td><a href="javascript:void(0);" onclick="deviceMonitor_detail('{$vo2.deviceip}', '{$vo2.num}');">{$vo2.num}</a></td></tr>
                    </volist>
                </table>
            </div>
            <!--<div style="margin-top: 20px;padding:5px 10px; float: left;width:100%; border: 1px solid #A3A3A3; ">
                <button style="margin-left: 20px;width: 100px;" id="exportBtn" class="btn">导出到Excel</button>
            </div>-->         
            <div style="margin-top: 20px; border: 1px solid #A3A3A3; float: left; width: 100%;">
                <table id="data_table" style="width:100%;text-align:center;"  class="table table-striped">
                    <tr>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">记录编号/td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">文件名称</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">视频文件上传时间</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">压缩任务创建时间</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">压缩设备IP地址</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">任务详情</td>
                    </tr>
                </table>
            </div>
       </div>
        <div class="col-md-10" style="margin-top: 20px;display:none;float:left;" id="deviceMonitor_detail">
            <div>
                <table style="width: 100%;font-size:16px;font-weight:bold;">
                    <tr>
                        <td style="background: #BCAECC; padding: 5px; border: 1px solid #000;" id="zrvdeviceip">ZRV压缩设备IP地址：</td>
                        <td style="background: #BCAECC; padding: 5px; border: 1px solid #000;" id="zrvallnum">当前压缩任务总数：</td>
                        <td style="text-align: center; padding: 5px; border: 1px solid #000; "><input type="button" id="hisTaskCountBtn" value="历史任务统计"></td>
                    </tr>
                </table>
            </div>
            <div>
                <table style="width:100%;text-align:center;border:1px solid #000;" id="deviceMonitor_detailinfo" class=" table table-striped">
                    <tr>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">记录编号</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">文件名称</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">视频文件上传时间</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">压缩任务创建时间</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">压缩设备IP地址</td>
                        <td style="background: #EAEAEA; border: 1px solid #000; ">任务详情</td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="col-md-10" style="margin-top: 20px;display:none;" id="deviceHistoryMonitor_detail">
            <div>
                <table style="width: 100%;font-size:16px;font-weight:bold;">
                    <tr>
                        <td style="background: #BCAECC; padding: 5px; border: 1px solid #000;" id="his_zrvdeviceip">ZRV压缩设备IP地址：</td>
                        <td style="background: #BCAECC; padding: 5px; border: 1px solid #000;" id="his_zrvallnum">压缩任务总数：<span></span></td>
                        <td style="width:10%;"></td>
                    </tr>
                </table>
            </div>
            <div style="margin-top: 10px;">
                <div style="border:1px solid #ccc;">
                    <div style="padding: 10px;">
                        <span>统计时段</span>
                        <input id="input_uploadtimebegin" type="input" value="" /> 到
                        <input id="input_uploadtimeend" type="input" value="" />
                        <button class="btn" id="countbytime">统计</button>
                    </div>
                </div>
            </div>
            <div style="margin-top: 10px;">
                <div style="border:1px solid #ccc;">
                    <div id="Histogram" style="width:100%;height:400px;">

                    </div>
                </div>
            </div>

        </div>

        <div class="col-md-10" id="taskassigndetail" style="display:none;">
            <div style="margin-top: 20px;">
                <h3>记录详情</h3>
                <table id="data_table2" class="table">
                    
                </table>
            </div>
        </div>
    </div>

    <div id="taskassigndetaildialog" title="记录详情" style="display:none;">
        <table id="data_table3" class="table"></table>
    </div>
</div>
<script>

    //定义分页及分页大小
    var pagenow = 1;
    var pagesize = 10;
    var pagenow2 = 1;
    var pagesize2 = 10;
    var deviceip;
    var int1;
    var int2;
    var myChart;

        $(document).ready(function(){

            var querycount = {$querycount};

            function getQueryString(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }
            function formatDateTime(inputTime) {
                var date = new Date(inputTime);
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h = h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                var second = date.getSeconds();
                minute = minute < 10 ? ('0' + minute) : minute;
                second = second < 10 ? ('0' + second) : second;
                return y + '-' + m + '-' + d+' '+h+':'+minute+':'+second;
            };

            function f_check_IP(ip)
            {
                var re=/^(\d+)\.(\d+)\.(\d+)\.(\d+)$/;//正则表达式
                if(re.test(ip))
                {
                    if( RegExp.$1<256 && RegExp.$2<256 && RegExp.$3<256 && RegExp.$4<256)
                        return true;
                }
                return false;
            }


            $("#select_assignflag").val({$assignflag});
            $("#select_status").val({$taskstatus});
            $("#select_taskresult").val({$taskresult});
            $("#select_errorreason").val({$errorcode});

            $("#menu3").addClass("active");

            $("#cleartimeBtn").click(function(){

                $("#input_uploadtimebegin").val("");
                $("#input_uploadtimeend").val("");

            });
            $("#clearcreatetimeBtn").click(function(){

                $("#input_createtimebegin").val("");
                $("#input_createtimeend").val("");

            });

            $("#queryBtn").click(function(){

                var beginTime = Date.parse(new Date($("#input_uploadtimebegin").val().trim()));
                beginTime = beginTime/1000;
                var endTime = Date.parse(new Date($("#input_uploadtimeend").val().trim()));
                endTime = endTime/1000;
                var assignflag = $("#select_assignflag").val();
                var taskstate = $("#select_status").val();
                var taskresult = $("#select_taskresult").val();
                var deviceip = $("#input_deviceip").val();
                var errorcode = $("#select_errorreason").val();

                var createbegintime = $("#input_createtimebegin").val();
                var createendtime = $("#input_createtimeend").val();

                if (beginTime != "NaN" && endTime !="NaN"){
                    if (beginTime>=endTime){
                        alert("开始时间不能晚于结束时间");
                        return;
                    }
                }

                if (deviceip.length>0 && !f_check_IP(deviceip.trim())){
                    alert("ip 地址不合法");
                    return;
                }

                var query = "begintime="+beginTime+"&endtime="+endTime+"&assignflag="+assignflag+"&"+
                                "taskstatus="+taskstate+"&taskresult="+taskresult+"&deviceip="+deviceip+"&errorcode="+
                                 errorcode+"&createbegintime="+createbegintime+"&createendtime="+createendtime;

                var url = "__ROOT__/index.php/Home/Taskassign?"+query;
                window.location.href=url;

            });

            $("#exportBtn").click(function(){

                if (querycount>1000){
                    alert("导出数据"+querycount+"太多,最多1000条");
                    return;
                }

                var beginTime = Date.parse(new Date($("#input_uploadtimebegin").val().trim()));
                beginTime = beginTime/1000;
                var endTime = Date.parse(new Date($("#input_uploadtimeend").val().trim()));
                endTime = endTime/1000;
                var assignflag = $("#select_assignflag").val();
                var taskstate = $("#select_status").val();
                var taskresult = $("#select_taskresult").val();
                var deviceip = $("#input_deviceip").val();
                var errorcode = $("#select_errorreason").val();

                var createbegintime = $("#input_createtimebegin").val();
                var createendtime = $("#input_createtimeend").val();

                if (beginTime != "NaN" && endTime !="NaN"){
                    if (beginTime>=endTime){
                        alert("开始时间不能晚于结束时间");
                        return;
                    }
                }

                if (deviceip.length>0 && !f_check_IP(deviceip.trim())){
                    alert("ip 地址不合法");
                    return;
                }

                var query = "begintime="+beginTime+"&endtime="+endTime+"&assignflag="+assignflag+"&"+
                        "taskstatus="+taskstate+"&taskresult="+taskresult+"&deviceip="+deviceip+"&errorcode="+
                        errorcode+"&createbegintime="+createbegintime+"&createendtime="+createendtime;

                var url = "__ROOT__/index.php/Home/Taskassign/export2excel?"+query;
                window.open(url);

            });


            $.datepicker.regional['zh-CN'] = {
                changeMonth: true,
                changeYear: true,
                clearText: '清除',
                clearStatus: '清除已选日期',
                closeText: '关闭',
                closeStatus: '不改变当前选择',
                prevText: '<上月',
                prevStatus: '显示上月',
                prevBigText: '<<',
                prevBigStatus: '显示上一年',
                nextText: '下月>',
                nextStatus: '显示下月',
                nextBigText: '>>',
                nextBigStatus: '显示下一年',
                currentText: '今天',
                currentStatus: '显示本月',
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                monthNamesShort: ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12'],
                monthStatus: '选择月份',
                yearStatus: '选择年份',
                weekHeader: '周',
                weekStatus: '年内周次',
                dayNames: ['星期日', '星期一', '星期二', '星期三', '星期四', '星期五', '星期六'],
                dayNamesShort: ['周日', '周一', '周二', '周三', '周四', '周五', '周六'],
                dayNamesMin: ['日', '一', '二', '三', '四', '五', '六'],
                dayStatus: '设置 DD 为一周起始',
                dateStatus: '选择 m月 d日, DD',
                dateFormat: 'yy-mm-dd',
                firstDay: 1,
                initStatus: '请选择日期',
                isRTL: false
            };

            $.datepicker.setDefaults($.datepicker.regional['zh-CN']);

            $("#input_uploadtimebegin").datetimepicker();
            $('#input_uploadtimebegin').prop("readonly", true).datetimepicker({
                timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒',
                currentText: '现在',
                closeText: '完成',
                showSecond: true, //显示秒
                timeFormat: 'HH:mm:ss' //格式化时间
            });

            $("#input_uploadtimeend").datetimepicker();
            $('#input_uploadtimeend').prop("readonly", true).datetimepicker({
                timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒',
                currentText: '现在',
                closeText: '完成',
                showSecond: true, //显示秒
                timeFormat: 'HH:mm:ss' //格式化时间
            });

            $("#input_createtimebegin").datetimepicker();
            $('#input_createtimebegin').prop("readonly", true).datetimepicker({
                timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒',
                currentText: '现在',
                closeText: '完成',
                showSecond: true, //显示秒
                timeFormat: 'HH:mm:ss' //格式化时间
            });

            $("#input_createtimeend").datetimepicker();
            $('#input_createtimeend').prop("readonly", true).datetimepicker({
                timeText: '时间',
                hourText: '小时',
                minuteText: '分钟',
                secondText: '秒',
                currentText: '现在',
                closeText: '完成',
                showSecond: true, //显示秒
                timeFormat: 'HH:mm:ss' //格式化时间
            });
        });
    
        int1 = setInterval("page1reload()", 10000);
        function deviceMonitor_detail(devip, allnum) {
            window.clearInterval(int1);
            int2 = setInterval("page2reload()", 10000);
            deviceip = devip;
            $("#zrvdeviceip").append(deviceip);
            $("#zrvallnum").append(allnum);
            $("#main_taskassign").hide();
            $("#deviceMonitor_detail").show();
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Device/detail",
                data: {
                    pagenow: pagenow,
                    pagesize: pagesize,
                    ZRVDeviceIP: deviceip,
                    pagetype:"taskassignpage2",
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data) {
                    //console.log(data);
                    $("#deviceMonitor_detailinfo").append(data);
                },
            })
        }

        function page1reload() {
            window.location.reload();
        }

        function page2reload() {
            setPage(1);
            //console.log(pagenow);
        }

        function ChangeColor(obj) {
            $(obj).css("border", "1px solid #FD6205");
        }

        function RestoreColor(obj) {
            $(obj).css("border", "1px solid #ccc");
        }

        function setPage(pg) {
            pagenow = pg;
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Device/detail",
                data: {
                    pagenow: pagenow,
                    pagesize: pagesize,
                    ZRVDeviceIP: deviceip,
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data) {
                    var htmlstr = '<tr>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">记录编号</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">文件名称</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">视频文件上传时间</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">压缩任务创建时间</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">压缩设备IP地址</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">任务详情</td></tr>';

                    $("#deviceMonitor_detailinfo").html(htmlstr + data);
                },
            })

        }

        setPage2(1);
        function setPage2(pg) {
            pagenow2 = pg;
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Taskassign/GetTaskAssign",
                data: {
                    pagenow: pagenow2,
                    pagesize: pagesize2,
                    pagetype:"taskassignpage2",
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data) {
                    //console.log(data);
                    var htmlstr = '<tr>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">记录编号</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">文件名称</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">视频文件上传时间</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">压缩任务创建时间</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">压缩设备IP地址</td>' +
                            '<td style="background: #EAEAEA; border: 1px solid #000; ">任务详情</td></tr>';

                    $("#data_table").html(htmlstr + data);
                },
            })

        }

        $("#hisTaskCountBtn").click(function () {
            window.clearInterval(int2);
            $("#deviceMonitor_detail").hide();
            $("#deviceHistoryMonitor_detail").show();
            $("#his_zrvdeviceip").append(deviceip);
            //后台获取柱状图表数据并组装
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Device/getHisCompressTask",
                data: {
                    getHisCompressTaskByHour: true,
                    zrvdeviceip: deviceip
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data1) {
                    //console.log(data1);
                    //console.log(data1[1].length);
                    var allcount = 0;
                    for (var m = 0; m < data1[1].length;m++){
                        allcount += data1[1][m];
                        //console.log(allcount);
                    }
                    $("#his_zrvallnum span").text(allcount);
                    // 基于准备好的dom，初始化echarts图表
                    myChart = echarts.init(document.getElementById('Histogram'), 'macarons');

                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            show: true
                        },
                        legend: {
                            x: "right",
                            y: "40%",
                            data: ['任务数', ]
                        },
                        color: ['#5B9BD5'],
                        xAxis: [
                            {
                                type: 'category',
                                //data: ['0-1', '1-2', '2-3', '3-4', '4-5', '5-6']
                                data: data1[0]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                "name": "任务数",
                                "type": "bar",
                                //"data": [35, 20, 40, 30, 10, 20]
                                "data": data1[1]
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                },
            })

        });

        $("#countbytime").click(function () {
            var timebegin = $("#input_uploadtimebegin").val();
            var timeend = $("#input_uploadtimeend").val();
            if (new Date(timebegin).getTime() > new Date(timeend).getTime()) {
                alert("统计时段选择错误");
            }
            //后台获取柱状图表数据并组装
            //console.log(timebegin + "||" + timeend);
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Device/getHisCompressTask",
                data: {
                    getHisCompressTaskByDay: true,
                    timebegin: $("#input_uploadtimebegin").val(),
                    timeend: $("#input_uploadtimeend").val(),
                    zrvdeviceip: deviceip
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data1) {

                    var allcount = 0;
                    for (var m = 0; m < data1[1].length; m++) {
                        allcount += data1[1][m];
                    }
                    $("#his_zrvallnum span").text(allcount);


                    // 基于准备好的dom，初始化echarts图表
                    myChart = echarts.init(document.getElementById('Histogram'), 'macarons');

                    var option = {
                        tooltip: {
                            trigger: 'axis',
                            show: true
                        },
                        legend: {
                            x: "right",
                            y: "40%",
                            data: ['任务数', ]
                        },
                        color: ['#5B9BD5'],
                        xAxis: [
                            {
                                type: 'category',
                                data: data1[0]
                            }
                        ],
                        yAxis: [
                            {
                                type: 'value'
                            }
                        ],
                        series: [
                            {
                                "name": "任务数",
                                "type": "bar",
                                "data": data1[1]
                            }
                        ]
                    };

                    // 为echarts对象加载数据
                    myChart.setOption(option);
                },
            })

        });

        function gettaskdetail(rcdnum){
            //window.clearInterval(int1);
            window.clearInterval(int2);
            //console.log($("#hisTaskCountBtn"));
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Taskassign/GetTaskAssignDetail",
                data: {
                    recordnum:rcdnum,
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data) {
                    //console.log(data);
                    //$("#main_taskassign").hide();
                    $("#taskassigndetaildialog").show();
                    var taskdetailstr="<tr><td>记录编号</td><td>"+data.recordnum+"</td></tr>"+
                        "<tr><td>文件名称</td><td>"+data.filename+"</td></tr>"+
                        "<tr><td>文件后缀名称</td><td>"+data.filesuffixname+"</td></tr>"+
                        "<tr><td>源文件大小</td><td>"+data.filesize+"</td></tr>"+
                        "<tr><td>压缩后文件大小</td><td>"+data.yshfilesize+"</td></tr>"+
                        "<tr><td>上传单位</td><td>"+data.uploadunit+"</td></tr>"+
                        "<tr><td>视频文件上传时间</td><td>"+data.uploadtime+"</td></tr>"+
                        "<tr><td>存储路径</td><td>"+data.storagepath+"</td></tr>"+
                        "<tr><td>压缩后的存储路径</td><td>"+data.yshstoragepath+"</td></tr>"+
                        "<tr><td bgcolor=\"#808080\"></td><td bgcolor=\"#808080\"></td></tr>"+
                        "<tr><td>任务分配标示</td><td>"+data.assignflag+"</td></tr>"+
                        "<tr><td>任务压缩的ZRV设备IP地址</td><td>"+data.zrvdeviceip+"</td></tr>"+
                        "<tr><td>压缩任务创建时间</td><td>"+data.taskcreatetime+"</td></tr>"+
                        "<tr><td>压缩任务开始时间</td><td>"+data.zrvcompressbegintime+"</td></tr>"+
                        "<tr><td>压缩任务结束时间</td><td>"+data.zrvcompressendtime+"</td></tr>"+
                        "<tr><td>任务状态</td><td>"+data.taskstatus+"</td></tr>"+
                        "<tr><td>任务结果</td><td>"+data.taskresult+"</td></tr>"+
                        "<tr><td>压缩任务失败原因</td><td>"+data.errorreason+"</td></tr>";
                    $("#data_table3").html(taskdetailstr);
                    $( "#taskassigndetaildialog" ).dialog({
                        height : "auto",        //高度
                        width : "auto",        //宽度
                        modal : true,
                        close:function( event, ui ) {
                            int2 = setInterval("page2reload()", 10000);
                        }
                       
                    });
                },
            })
        }

        function gettaskdetail2(rcdnum){
            window.clearInterval(int1);
            //window.clearInterval(int2);
            //console.log($("#hisTaskCountBtn"));
            $.ajax({
                type: "POST",
                url: "__ROOT__/index.php/Home/Taskassign/GetTaskAssignDetail",
                data: {
                    recordnum:rcdnum,
                },
                error: function (data) {
                    alert("fail");
                },
                success: function (data) {
                    //console.log(data);
                    //$("#main_taskassign").hide();
                    $("#taskassigndetaildialog").show();
                    var taskdetailstr="<tr><td>记录编号</td><td>"+data.recordnum+"</td></tr>"+
                        "<tr><td>文件名称</td><td>"+data.filename+"</td></tr>"+
                        "<tr><td>文件后缀名称</td><td>"+data.filesuffixname+"</td></tr>"+
                        "<tr><td>源文件大小</td><td>"+data.filesize+"</td></tr>"+
                        "<tr><td>压缩后文件大小</td><td>"+data.yshfilesize+"</td></tr>"+ 
                        "<tr><td>上传单位</td><td>"+data.uploadunit+"</td></tr>"+
                        "<tr><td>视频文件上传时间</td><td>"+data.uploadtime+"</td></tr>"+
                        "<tr><td>存储路径</td><td>"+data.storagepath+"</td></tr>"+
                        "<tr><td>压缩后的存储路径</td><td>"+data.yshstoragepath+"</td></tr>"+
                        "<tr><td bgcolor=\"#808080\"></td><td bgcolor=\"#808080\"></td></tr>"+
                        "<tr><td>任务分配标示</td><td>"+data.assignflag+"</td></tr>"+
                        "<tr><td>任务压缩的ZRV设备IP地址</td><td>"+data.zrvdeviceip+"</td></tr>"+
                        "<tr><td>压缩任务创建时间</td><td>"+data.taskcreatetime+"</td></tr>"+
                        "<tr><td>压缩任务开始时间</td><td>"+data.zrvcompressbegintime+"</td></tr>"+
                        "<tr><td>压缩任务结束时间</td><td>"+data.zrvcompressendtime+"</td></tr>"+
                        "<tr><td>任务状态</td><td>"+data.taskstatus+"</td></tr>"+
                        "<tr><td>任务结果</td><td>"+data.taskresult+"</td></tr>"+
                        "<tr><td>压缩任务失败原因</td><td>"+data.errorreason+"</td></tr>";
                    $("#data_table3").html(taskdetailstr);
                    $( "#taskassigndetaildialog" ).dialog({
                        height : "auto",        //高度
                        width : "auto",        //宽度
                        modal : true,
                        close:function( event, ui ) {
                            int1 = setInterval("page1reload()", 10000);
                        }
                       
                    });
                },
            })
        }


        //导出
        $("#exportBtn").click(function(){
            var url = "__ROOT__/index.php/Home/Taskassign/export2excel"
            window.open(url);
        });

</script>

</body>
</html>